@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Nokian;
    src: url(./fonts/Nokian.ttf) format("truetype");
  }
  @font-face {
    font-family: McFont;
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/McFont.otf) format("opentype");
  }
  @font-face {
    font-family: McFont;
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/McFontBold.otf) format("opentype");
  }
}

@layer base {
  b {
    @apply text-white font-normal;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
  height: 100vh;
}
