@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Nokian;
    src: local("Nokian"), url(./fonts/Nokian.ttf) format("truetype");
  }
  @font-face {
    font-family: Bloxat;
    src: local("Bloxat"), url(./fonts/Bloxat.ttf) format("truetype");
  }
  @font-face {
    font-family: McFont;
    src: local("McFont"), url(./fonts/McFont.otf) format("opentype");
  }
}

b {
  color: rgba(229, 231, 235, var(--tw-text-opacity));
}
